.custom-navbar {
  background-color: #d0cec8;
}

.nav-link {
  font-family: "Lexend", serif;
  font-weight: bold;
  text-decoration: none;
}

.nav-item {
  font-weight: bold;
}

.header {
    background-color: #fff;
    margin-top: -10px;
    margin-bottom: -10px;
}